# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Model Files (optional if very large)
*.h5
*.pth
*.pt

# Environment Variables
.env